<%= form_with(model: phone, local: true) do |form| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :year_released %>
    <%= form.number_field :year_released %>
  </div>

  <div class="field">
    <%= form.label :camera %>
    <%= form.text_field :camera %>
  </div>

  <div class="field">
    <%= form.label :mpixels %>
    <%= form.text_field :mpixels %>
  </div>

  <div class="field">
    <%= form.label :internal_storage %>
    <%= form.text_field :internal_storage %>
  </div>

  <div class="field">
    <%= form.label :sim %>
    <%= form.number_field :sim %>
  </div>

  <div class="field">
    <%= form.label :screen_size %>
    <%= form.text_field :screen_size %>
  </div>

  <div class="field">
    <%= form.label :operating_system %>
    <%= form.text_field :operating_system %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
